@model _2013215462_ENT.TipoPlan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoPlan</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoPlanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
