@model IEnumerable<_2013215462_ENT.TipoPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo TipoPlan", "Create")
</p>
<table id="tbl_TipoPlan" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>TipoPlan ID:</th>
            <th>Planes ID:</th>
        </tr>

    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document)
        .ready(function () {
            var table = $("#tbl_TipoPlan")
            .DataTable({
                ajax: {
                    url: "/API/TipoPlan",
                    dataSrc: ""
                },

                columns: [
                    { data: "TipoPlanID" },
                    { data: "Plan.PlanID" },

                    {
                        data: "TipoPlanID",
                        render: function (data, type, TipoPlan) {
                            return "<a href = '/TipoPlan/update/" + data + "'>Actualizar</a>";
                        }

                    },
                    {

                        data: "TipoPlanID",
                        render: function (data, type, TipoPlan) {
                            return "<a href = '/TipoPlan/details/" + data + "'>Detalles</a>";
                        }
                    },

                    {
                        data: "TipoPlanID",
                        render: function (data) {
                            return "<button class= 'btn btn-link js-delete' data-TipoPlan-ID=" + data + ">Borrar</button>"
                        }
                    }
                ]
            });
        });



    </script>


}
